<div class="login-box">
  <ng-template *ngIf="launched; then app; else login"></ng-template>

  <ng-template #login>
    <i class="fas fa-user-circle"></i>
    <h1 class="title">Login form</h1>
    <app-form></app-form>
    <p>Created by Krisztian Kugler</p>
  </ng-template>

  <ng-template #app>
    <ng-template *ngIf="loading; then spinner; else response"></ng-template>
    <ng-template #spinner>
      <div class="loading">
        <app-spinner [borderWidth]="'10px'" [size]="'80px'" [animationDuration]="'500ms'"></app-spinner>
        <p>Logging in...</p>
      </div>
    </ng-template>
    <ng-template #response>
      <h1 class="title">{{ title }}</h1>
      <p class="login-error" *ngIf="!loginSuccessful">{{ content }}</p>
      <div class="login-data" *ngIf="loginSuccessful">
        <p>Username: {{ content.username }}</p>
        <p>Password: {{ content.password }}</p>
      </div>
      <button class="back-button" (click)="launched = false">Back</button>
    </ng-template>
  </ng-template>
</div>
